<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/">
      <div class="logo">
      <!-- <img src="https://cdn.leonardo.ai/users/5f86c402-e276-4b65-9e74-fe2c27152637/generations/62870b92-e7b6-46e7-99d5-6bc7f60469ff/Leonardo_Phoenix_Create_a_vibrant_and_modern_logo_for_a_mealsh_2.jpg" height="60px" width="70px" style="border-radius: 50%;"> -->
      <h2>meal<span style="color: lightseagreen;">Connect</span></h2> 
      </div>
    </a>
    <button 
    class="navbar-toggler" 
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup" 
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-div">

        <a class="nav-link"  href="/listings">Home</a>
        <a href="#" class="nav-link" id="tobehidden">About Us</a>
        <a href="#mainc" class="nav-link" id="tobehidden" >How  It  Works</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>
    </div>

  </div>
</nav>
